# Import Packages

In [112]:
import requests
import json
from json import JSONDecodeError
import pandas as pd
from pandas import json_normalize
import numpy as np

# Get Data from API 
# print(response_API.status_code)

In [113]:
response_API = requests.get('https://api.coindesk.com/v1/bpi/currentprice.json')
print(response_API.status_code)

200

# Parse the data into JSON format

In [114]:
resp_dict = response_API.json()
print(response_API.json())
print(type(resp_dict))

{'time': {'updated': 'Feb 14, 2023 04:41:00 UTC', 'updatedISO': '2023-02-14T04:41:00+00:00', 'updateduk': 'Feb 14, 2023 at 04:41 GMT'}, 'disclaimer': 'This data was produced from the CoinDesk Bitcoin Price Index (USD). Non-USD currency data converted using hourly conversion rate from openexchangerates.org', 'chartName': 'Bitcoin', 'bpi': {'USD': {'code': 'USD', 'symbol': '&#36;', 'rate': '21,734.4874', 'description': 'United States Dollar', 'rate_float': 21734.4874}, 'GBP': {'code': 'GBP', 'symbol': '&pound;', 'rate': '18,161.1638', 'description': 'British Pound Sterling', 'rate_float': 18161.1638}, 'EUR': {'code': 'EUR', 'symbol': '&euro;', 'rate': '21,172.5640', 'description': 'Euro', 'rate_float': 21172.564}}}
<class 'dict'>

In [115]:
resp_dict = response_API.json()

print(resp_dict.get('page'))

None

In [116]:
try:
    resp_dict = response_API.json()
except JSONDecodeError:
    print('Response could not be serialized')

 # create a formatted string of the Python JSON object

In [117]:
resp_dict = response_API.json()
text = json.dumps(resp_dict, indent=4)
print(text)

{
    "time": {
        "updated": "Feb 14, 2023 04:41:00 UTC",
        "updatedISO": "2023-02-14T04:41:00+00:00",
        "updateduk": "Feb 14, 2023 at 04:41 GMT"
    },
    "disclaimer": "This data was produced from the CoinDesk Bitcoin Price Index (USD). Non-USD currency data converted using hourly conversion rate from openexchangerates.org",
    "chartName": "Bitcoin",
    "bpi": {
        "USD": {
            "code": "USD",
            "symbol": "&#36;",
            "rate": "21,734.4874",
            "description": "United States Dollar",
            "rate_float": 21734.4874
        },
        "GBP": {
            "code": "GBP",
            "symbol": "&pound;",
            "rate": "18,161.1638",
            "description": "British Pound Sterling",
            "rate_float": 18161.1638
        },
        "EUR": {
            "code": "EUR",
            "symbol": "&euro;",
            "rate": "21,172.5640",
            "description": "Euro",
            "rate_float": 21172.564
        }
    }
}

In [118]:
resp_dict = response_API.json()
df = pd.DataFrame(resp_dict.get('bpi'))

df

                              USD                     GBP          EUR
code                          USD                     GBP          EUR
symbol                      &#36;                 &pound;       &euro;
rate                  21,734.4874             18,161.1638  21,172.5640
description  United States Dollar  British Pound Sterling         Euro
rate_float             21734.4874              18161.1638    21172.564

In [119]:
# making a dict of list   

info = {
        'bpi': ['USD', 'GBP', 'EUR'],   
        'rate' : ['21,744.2233 ' , '18,169.2990' , '21,182.0481']
        }   

#print length of each array
print(len('bpi'), len('rate'))
  
data = pd.DataFrame(info)    

# sum of all rate stored in 'total'  

data['total'] = data['rate'].sum()     

data

3 4

   bpi          rate                               total
0  USD  21,744.2233   21,744.2233 18,169.299021,182.0481
1  GBP   18,169.2990  21,744.2233 18,169.299021,182.0481
2  EUR   21,182.0481  21,744.2233 18,169.299021,182.0481

In [120]:
#create DataFrame from arrays

bpi = ['USD', 'GBP', 'EUR']
rate = ['21,744.2233 ' , '18,169.2990' , '21,182.0481']
description = ['United States Dollar', 'British Pound Sterling', 'Euro']

df = pd.DataFrame({'bpi': bpi,
                   'description': description,
                   'rate': rate})

df

   bpi             description          rate
0  USD    United States Dollar  21,744.2233
1  GBP  British Pound Sterling   18,169.2990
2  EUR                    Euro   21,182.0481