# Import Packages

In [1]:
import requests
import json
from json import JSONDecodeError
import pandas as pd
from pandas import json_normalize
import numpy as np

# Get Data from API 
# print(response_API.status_code)

In [2]:
response_API = requests.get('https://api.coindesk.com/v1/bpi/currentprice.json')
print(response_API.status_code)

200

# Parse the data into JSON format

In [3]:
resp_dict = response_API.json()
print(response_API.json())
print(type(resp_dict))

{'time': {'updated': 'Feb 17, 2023 03:19:00 UTC', 'updatedISO': '2023-02-17T03:19:00+00:00', 'updateduk': 'Feb 17, 2023 at 03:19 GMT'}, 'disclaimer': 'This data was produced from the CoinDesk Bitcoin Price Index (USD). Non-USD currency data converted using hourly conversion rate from openexchangerates.org', 'chartName': 'Bitcoin', 'bpi': {'USD': {'code': 'USD', 'symbol': '&#36;', 'rate': '23,853.5751', 'description': 'United States Dollar', 'rate_float': 23853.5751}, 'GBP': {'code': 'GBP', 'symbol': '&pound;', 'rate': '19,931.8565', 'description': 'British Pound Sterling', 'rate_float': 19931.8565}, 'EUR': {'code': 'EUR', 'symbol': '&euro;', 'rate': '23,236.8648', 'description': 'Euro', 'rate_float': 23236.8648}}}
<class 'dict'>

 # create a formatted string of the Python JSON object

In [4]:
resp_dict = response_API.json()
text = json.dumps(resp_dict, indent=4)
print(text)

{
    "time": {
        "updated": "Feb 17, 2023 03:19:00 UTC",
        "updatedISO": "2023-02-17T03:19:00+00:00",
        "updateduk": "Feb 17, 2023 at 03:19 GMT"
    },
    "disclaimer": "This data was produced from the CoinDesk Bitcoin Price Index (USD). Non-USD currency data converted using hourly conversion rate from openexchangerates.org",
    "chartName": "Bitcoin",
    "bpi": {
        "USD": {
            "code": "USD",
            "symbol": "&#36;",
            "rate": "23,853.5751",
            "description": "United States Dollar",
            "rate_float": 23853.5751
        },
        "GBP": {
            "code": "GBP",
            "symbol": "&pound;",
            "rate": "19,931.8565",
            "description": "British Pound Sterling",
            "rate_float": 19931.8565
        },
        "EUR": {
            "code": "EUR",
            "symbol": "&euro;",
            "rate": "23,236.8648",
            "description": "Euro",
            "rate_float": 23236.8648
        }
    }
}

# print TWO descriptive statistics about data

In [5]:
resp_dict['bpi']['USD']

{'code': 'USD',
 'symbol': '&#36;',
 'rate': '23,853.5751',
 'description': 'United States Dollar',
 'rate_float': 23853.5751}

# Write a query to select a particular set of data

In [6]:
resp_dict['bpi']['USD']['rate']

'23,853.5751'

# Show DataFrame in Pandas

In [7]:
resp_dict = response_API.json()
df = pd.DataFrame(resp_dict.get('bpi'))

df

                              USD                     GBP          EUR
code                          USD                     GBP          EUR
symbol                      &#36;                 &pound;       &euro;
rate                  23,853.5751             19,931.8565  23,236.8648
description  United States Dollar  British Pound Sterling         Euro
rate_float             23853.5751              19931.8565   23236.8648

# Switching columns and Rows

In [8]:
df.transpose()

    code   symbol         rate             description  rate_float
USD  USD    &#36;  23,853.5751    United States Dollar  23853.5751
GBP  GBP  &pound;  19,931.8565  British Pound Sterling  19931.8565
EUR  EUR   &euro;  23,236.8648                    Euro  23236.8648

# Adding the Sum of the "rate_float" of all currencies

In [9]:
df=df.transpose()
df['rate_float'].sum()

67022.29639999999

# Select and print the SECOND AND THIRD columns of data frame

In [13]:
df=df.transpose()
df.iloc[:, [1, 2]]

      symbol         rate
USD    &#36;  23,853.5751
GBP  &pound;  19,931.8565
EUR   &euro;  23,236.8648

# Select and print the FIRST 4 rows of data frame

In [45]:
df=df.transpose()
df.iloc[:, [0, 1, 2, 3]]

   bpi             description          rate  rate_float
0  USD    United States Dollar  21,744.2233   21734.4874
1  GBP  British Pound Sterling   18,169.2990  18161.1638
2  EUR                    Euro   21,182.0481   21172.564

# create DataFrame from arrays

In [16]:
bpi = ['USD', 'GBP', 'EUR']
rate = ['21,744.2233 ' , '18,169.2990' , '21,182.0481']
description = ['United States Dollar', 'British Pound Sterling', 'Euro']
rate_float = ['21734.4874', '18161.1638', '21172.564']

df = pd.DataFrame({'bpi': bpi,
                   'description': description,
                   'rate': rate,
                   'rate_float' : rate_float})

df.transpose()

                                0                       1            2
bpi                           USD                     GBP          EUR
description  United States Dollar  British Pound Sterling         Euro
rate                 21,744.2233              18,169.2990  21,182.0481
rate_float             21734.4874              18161.1638    21172.564